<style>
    .card{
        margin: 0;
        height:100%;
        width: 100% !important;;
    }
    .card-name{
        height: 2.4 ;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 2;
    }
    .card-description{
        height: 4.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 3;
    }
</style>
 <div class="row mt-4">
{{#each rows}}
        <div class="col-3 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ytimg.com/vi/{{this.video_id}}/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLCKppUbDXKiAEJ6HVDT1SZfXZyNuA" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-name">{{this.video_name}}</h5>
                    <p class="card-text card-description">{{this.video_description}}</p>
                    <a href="http://localhost:3000/{{this.video_id}}" class="btn btn-primary">Xem video</a>
                </div>
            </div>
        </div>
 {{/each}}
 </div>