<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">ĐĂNG NHẬP VÀO TÀI KHOẢN CỦA BẠN</h5>
    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tài khoản của bạn</label>
            <div class="col-sm-10">
            <input name="user_name" type="text" class="form-control" id="inputEmail3" placeholder="Bạn có thể nhập tên tài khoản hoặc gmail">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input name="pass_word" type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary mt-4">Sign in</button>
            <div class="mt-2">
                <a href="http://localhost:3000/register" class="text-success">Bạn chưa có tài khoản? Đăng kí ngay</a>
            </div>
            </div>
        </div>
    </form>
  </div>
</div>