<style>
    .img-profile{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .description{
        display: flex;
    }
</style>

<div class = "row">
    <div class="col-8">
        <iframe width="1025" height="500" src="https://www.youtube.com/embed/{{rows.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <div class="ml-2">
            <h2 class="mt-4">{{rows.video_name}}</h2>
            <div class="description">
                <img class="card-img-top img-profile" src="https://i.ytimg.com/vi/{{rows.video_id}}/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLCKppUbDXKiAEJ6HVDT1SZfXZyNuA" alt="Card image cap">
                <p class="ml-4">{{rows.video_description}}</p>
            </div>
        </div>
    </div>
</div>